@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Advent Of Code</h1>
</div>

<div class="row">
    <div class="col-md-4">
            <img src="~/Content/AoC2018.JPG" />
        <h2>A challenge every day till christmas!</h2>
        <p>
            Answer @ViewBag.answer
        </p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>