@{

    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>A challenge every day till christmas!</h2>
    </div>
    <div class="col-md-4">
        @foreach (var day in @ViewBag.days)
        {
            <div class="row">
                <div class="col-md-4">@day.Part1()</div>
                <div class="col-md-4">
                    @day.Part2()
                </div>
                <div class="col-md-4">
                </div>
            </div>
        }
    </div>
</div>
